@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">

    <div class="row">
        <b>    公司简介：</b>

        谐悠票务网（www.xieyoutrip.com）是南通谐悠旅游咨询服务有限公司旗下专门从事国内/外机票、旅游、签证、酒店、私有航线定制等服务的垂直搜索网站。公司坐落在美丽的滨海城市-南通。依托航空业内优质资源，与多家航空公司合作的同时，凭借着公司专业的服务和优惠的价格，多年来，成功在携程旅游、淘宝、去哪儿多家国内知名网站平台为顾客订购了数万张各类航线机票，在竞争激烈的电子商务平台中赢得了一定的市场口碑。公司始终秉性“真诚服务，客户至上”的理念，快速响应客户的票务需求，为客户提供及时、准确的票务信息。客户的意见是我们进步的动力，客户的信任是我们殷切的期盼,客户的满意是我们最高的荣誉；欢迎来电咨询。


    </div>
</div>

<div>
    <img src="~/img/Untitled.png" />
</div>