@{
    ViewBag.Title = "购票须知";
}

<div class="jumbotron">
    <div class="row">
        <h2>
            购票须知

        </h2>
    </div>
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <div>

            <div>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><b><span style="font-family:\"><font size="3">下单时间：</font></span></b><b><span style="font-family:\"><font size="3">7*24</font><span><font size="3">小时</font></span></span></b></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><b><span style="font-family:\"><font size="3">客服服务时间：</font></span></b><b><span style="font-family:\"><font size="3">09:00-24:00(</font><span><font size="3">节假日除外</font></span><font size="3">)</font></span></b></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:\"><font size="3">特别提醒：如您预订三天内起飞的行程，为确保您顺利出票，保证出行，请务必在当天客服服务时间内提交您的订单，并关注您的订单处理进度。因订单提交不及时造成的订单没有及时处理，我司不予承担！非工作时间遇紧急情况，可通过应急联系手机</font></span><span style="font-family:\"><font size="3">18221523857</font><span><font size="3">联系我们。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:&#10;text-indent:0cm"><span style="font-family:\"><font size="3">1.</font></span><span style="font-family:\"><font size="3">本公司提供所有航线特价机票，如不在搜索范围内的航线，请联系人工客服进行查询</font></span><span style="font-family:\"><font size="3">!</font><span><font size="3">因座位的实时变化，请勿使用在线支付，需人工审核过后，提醒您付款！确保座位的成功预订！客服电话</font></span><font size="3">:0513-89121302/15800613604</font></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:&#10;text-indent:0cm"><span style="font-family:\"><font size="3">2.</font></span><span style="font-family:\"><font size="3">本网站所列所有机票价格均为实时机票价格，当天有效。</font></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">3.</font><span><font size="3">为了您可以顺利登机，请使用登机所用证件（护照）上的姓名拼写格式进行预订（儿童婴儿需同时提供准确的出生日期），并提供准确的证件（护照）号码。如因预订姓名与证件姓名不一致（如证件上为英文名，预订时使用中文名等）或证件号码不符造成的无法正常登机</font></span><font size="3">.</font><span><font size="3">所造成的损失我司不承担。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">4.</font><span><font size="3">为了您可以顺利登机，请自行咨询了解您的护照及签证类型是否符合海关及出入境管理机构对您的行程的要求。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">5.</font><span><font size="3">请您留下正确的联系方式（手机、座机），以便客服人员可以及时与您确认机票事宜，如无法与您取得联系或联系信息不正确，此订单将被视为无效取消处理。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">6.</font><span><font size="3">请勿提交重复订单（同一登机人相同行程航班两张以上的订单），如因提交重复订单导致重复出票，所产生的退票款项将由预订人全额承担。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">7.</font><span><font size="3">机票改期、退票、签转请在起飞前一个礼拜致电我司客服咨询，如未在规定时间内造成航司</font></span><font size="3">NOSHOW</font><span><font size="3">费用，我司不予承担！</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">9.</font><span><font size="3">预订人如有特殊服务要求，如申请无成人陪伴儿童、婴儿摇篮、轮椅、病残、担架、盲人服务、聋哑旅客等服务，只能直接在所乘坐的航空公司申请并按航空公司的价格购票，同时办理有关手续，网上的价格不适用于以上有特殊服务要求的旅客。成人陪伴儿童或婴儿的价格以客服人员告知为准。</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">10.</font><span><font size="3">机票座位有限，根据航空公司的要求进行销售，不能预留，请在客服人员告知的出票时限内出票。因超过时限未出票造成的航空公司取消机位而造成的后果，由预定人自行承担</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">11.</font><span><font size="3">本网站提供票务信息，及临时发生的航班取消或变动时必要的告知义务，订票后请保证联系通畅！</font></span></span></p>
                <p style="margin-top:0cm;margin-right:0cm;margin-bottom:11.25pt;margin-left:&#10;:0cm"><span style="font-family:&#10;:\"><font size="3">14.</font><span><font size="3">旅客必须在航空公司规定的时限内到达机场，凭客票及本人有效证件按时办理乘机手续。特别提醒您，为保证登机顺利请提前</font></span><font size="3">120</font><span><font size="3">分钟到达机场办理登机手续</font></span><font size="3">(</font><span><font size="3">各机场实施情况不一，仅作为参考</font></span><font size="3">)</font><span><font size="3">。购买国际往返机票的客人请提前</font></span><font size="3">72</font><span><font size="3">小时与当地航空公司确认回程机位。</font></span></span></p>
                <p style="margin:0cm 0cm 0pt">&nbsp;</p>
                <b></b><i></i><u></u><sub></sub><sup></sup><strike></strike><br />
            </div>
            <br />
        </div>
    </div>
</div>

