@using System.Net.Http;
@using System.Text;
@{
    var url = "http://hq.sinajs.cn/?list=sh600566,sz002024";
    var result = string.Empty;
    using (HttpClient client = new HttpClient())
    {

        using (var content = new StringContent("", Encoding.UTF32))
        {
            var buffer = client.PostAsync(url, content).Result.Content.ReadAsByteArrayAsync().Result;
            result = Encoding.UTF32.GetString(buffer);
        }
    }

}
<div>@result</div>
