@model PagedList<Bzway.Module.Wechat.Entity.WechatMaterial>
@{
    ViewData["Title"] = "Home Page";
}
<table>
    @foreach (var item in this.Model)
    {
        <tr>
            <td>@item.MediaId</td>
            <td>@item.Type</td>
        </tr>
    }
</table>
