@{
    ViewBag.Title = "主页";
}
@section Scripts {
    <script src="http://cdn.bootcss.com/twitter-bootstrap/2.0.4/bootstrap.min.js"></script>
    <script src="/fb.js"></script>
    <script src="/projects.js"></script>

}
<div class="row">


    <div class="col-md-6">
        <div>
            &nbsp;<font face="Times New Roman" size="3"></font><h1 style="margin:17pt 0cm 16.5pt"><span style="font-family:宋体"><font size="6">“谐悠特色”版块</font></span></h1><p style="margin:0cm 0cm 0pt"><b><span style="font-size:16.0pt;font-family:&#10;:黑体;color:red">公司简介</span></b></p>
            <p style="margin:0cm 0cm 0pt"><span>&nbsp;&nbsp; </span><span style="font-family:宋体">谐悠旅行主要从事国内</span>/<span style="font-family:宋体;:Calibri">国际机票、旅游、私人旅行订制、签证、酒店等项目。</span></p>
            <p style="margin:0cm 0cm 0pt"><span>&nbsp;&nbsp; </span><span style="font-family:宋体">公司倡导“人人都是公司主人的理念”，为每个员工提供实现梦想、完成职业理想的广阔舞台。同时，公司近年加大了电子商务的经营模式，在淘宝、去哪儿等多家知名度极高的机票网站、旅游网站进行宣传和销售！公司的专业服务和优惠价格，在电子商务这样竞争激烈的平台也是遥遥领先！我们有信心，也有决心。这支年轻的团队在今后的旅游市场能够占有一席之地！</span></p>
            <p style="margin:0cm 0cm 0pt">&nbsp;</p>
            <p style="margin:0cm 0cm 0pt"><b><span style="font-size:14.0pt;font-family:&#10;:\">服务优势</span></b></p>
            <h5 style="margin:0cm;margin-bottom:.0001pt;:widow-orphan"><span style="font-size:10.5pt;font-family:\">1<span>、航线多样化，满足客户需求！</span></span></h5><p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:&#10;:0cm;text-indent:18.75pt"><span style="font-size:9.0pt;font-family:\">公司可以通过自身优势满足客户出行需求，并竭尽所能为客户提供优惠价格。航线多样化的销售，甚至达到，世界各地只要有机场，有飞机，谐悠就能为您完成购票！</span></p>
            <h5 style="margin:0cm;margin-bottom:.0001pt;:widow-orphan"><span style="font-size:10.5pt;font-family:\">2<span>、专业服务，私人订制。</span></span></h5><p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:&#10;:0cm;text-indent:18.75pt"><span style="font-size:9.0pt;font-family:\">谐悠有从业多年的资深订票专家为您安排最便捷的行程！谐悠是年轻团队，励志于服务多元化，只要您提供行程，谐悠将为您量身定制属于您的航线规划！解决您的行程烦恼！</span></p>
            <h5 style="margin:0cm;margin-bottom:.0001pt;:widow-orphan"><span style="font-size:10.5pt;font-family:\">3<span>、团队出行，轻松解决！</span></span></h5><p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:&#10;:0cm;text-indent:18.75pt"><span style="font-size:9.0pt;font-family:\">谐悠每年输送多次数百人的团队出行，有非常丰富的团队出行经验！同时跟多家航司合作，可为您申请更低的团队价格。为您的团队保驾护航。</span></p>
            <h5 style="margin:0cm;margin-bottom:.0001pt;:widow-orphan"><span style="font-size:10.5pt;font-family:\">4<span>、完善售后服务，</span>24<span>小时随时咨询。</span></span></h5><p style="margin-top:7.5pt;margin-right:0cm;margin-bottom:7.5pt;margin-left:&#10;:0cm;text-indent:18.75pt"><span style="font-size:9.0pt;font-family:\">无论您是需要改期、退票，无论您是在什么时间，只要您需要帮助，随时可拨打我们的</span><span style="font-size:9.0pt;font-family:\">24<span>小时服务电话，提供电话、传真、网络等多种服务方式</span>.<span>我们就在您身边！</span></span></p>
            <p style="margin:0cm 0cm 0pt">&nbsp;</p>
            <font size="3"></font><br />
            <br />
        </div>

        <br /><br /><br /><br />
    </div>
    <div class="col-md-6">
        <br /><br />
        <img src="~/img/th.jpg" />

    </div>
</div>