<a data-toggle="dropdown"> @("Langauge".Localize()) </a>
<ul class="dropdown-menu">
    <li>
        <a href="/home/lang/cn" style="color:@(CultureHelper.GetCurrentNeutralCulture() == "zh" ? "blue" : "")" >
            中文
        </a>
    </li>
    <li>
        <a href="/home/lang/en" style="color:@(CultureHelper.GetCurrentNeutralCulture() == "en" ? "blue" : "")">
            English
        </a>
    </li>

</ul>
