<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home".Localize(), "Index", "Home")</li>
    <li>@Html.ActionLink("Admin".Localize(), "Index", "Admin")</li>
    <li>@Html.ActionLink("About".Localize(), "About", "Home")</li>
    <li>@Html.ActionLink("Contact".Localize(), "Contact", "Home")</li>
</ul>

 