@{
    ViewBag.Title = "联系我们";
}
<h2>@ViewBag.Title.</h2>




<div class="jumbotron">

    <div class="row">

        <div class="col-md-6">
            <span>南通谐悠旅游咨询服务有限公司</span>
            <address>
                地 址：南通市港闸区鸿鸣摩尔A栋902室<br />

                <span><abbr title="Phone">电 话:</abbr>                0513-89121302</span>
            </address>

            <address>

                <strong> Q Q:</strong>   <a href="mailto:Support@example.com">3309691087（顾小姐）</a><br />
                <strong>邮 编:</strong> <a href="mailto:Marketing@example.com">226000 </a><br />
                <strong>邮 件:</strong> <a href="mailto:Marketing@example.com">xieyoutrip@163.com </a><br />
                <strong>网 址:</strong> <a href="http://www.xieyoutrip.com">www.xieyoutrip.com</a><br />

            </address>
         
                <div id="cutout_zone" class="hp__contentZone hp__cutout_zone max968 min768 autocenter">
                    <div class="boxe tag #FF4B00">
                        <a href="#">
                            <img src="~/img/qrcode_wechat.jpg" style="width:200px;" />

                        </a>
                    </div>
                </div>
            
        </div>
        <div class="col-md-6">
            <div>
                <div class="boxe tag #FF4B00">
                    <a href="#">
                        <img src="~/img/Picture4.png" style="width:100%;" />
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
